:root {
    --main-bg-color: #282C34;
    --main-color: #A6ADBA;
    --panel-color: #21252B;
    --hover-color: #555555;
}

body {
    font-family: Sarasa Mono SC;
    overflow-y: hidden;
}

post {
    position: relative;
    width: 100%;
    height: 100%;
}

.post.with-summary .post-summary {
    background-color: var(--panel-color);
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
}

.post-summary {
    position: fixed;
    left: -300px;
}

.summary-header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #555;
}

.summary-header a {
    text-decoration: none;
    color: var(--main-color);
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}

.search-container > input {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    border-color: #555;
    background-color: var(--panel-color);
}

.search-container > input:focus {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.search-container > i {
    position: absolute;
    display: flex;
    height: 100%;
    width: 2.67142857em;
    text-align: center;
    align-items: center;
    right: 0;
    opacity: 0.3;
}

.post.with-summary .post-body {
    position: absolute;
    left: 300px;
    /* overflow-y: auto; */
    top: 0;
    bottom: 0;
    right: 0;
}

.post-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.body-container {
    top: 0;
    height: 100%;
}

.page-header {
    background-color: var(--panel-color);
    position: fixed;
    left: 300px;
    top: 0;
    right: 0;
    height: 50px;
    z-index: 1;
}

.content-container {
    position: absolute;
    width: 100%;
    top: 0;
    overflow-y: auto;
    height: 100%;
}

.page-inner {
    max-width: 1000px;
    padding-bottom: 20px;
}

#content {
    margin-left: 20px;
}

#content #toc {
    position: fixed;
    top: 60px;
    right: 50px;
    max-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    padding-top: 50px;
}

#content #toc a:hover {
    color: var(--main-color);
}

#toctitle {
    display: none;
}

.project-title {
    position: absolute;
    width: 800px;
    height: 50px;
    right: -40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid 5px #CE5A4C;
    z-index: 1;
    color: #fff;
    padding: 0 15px;
    /* transform: rotate(45deg) translateX(150px) translateY(-50px);  */
    transform: skewX(-30deg)
}

.project-title:hover {
    font-size: 22px;
}

.project-title a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.project-title-inner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CE5A4C;
    width: 400px;
}

.page-header .btn {
    display: block;
    height: 50px;
    color: #ccc;
    line-height: 50px;
    padding: 0 15px;
    font-size: 14px;
}

.page-header .btn:hover {
    color: #444;
}

ul.category,
ul.post {
    list-style: none;
}

ul.category {
    padding: 10px 15px;
}

ul.category > li > a {
    text-decoration: none;
    color: #d27277;
}

ul.post > li > a {
    text-decoration: none;
    color: var(--main-color);
}

ul.post > li > a.active {
    text-decoration: none;
    color: #008cff;
}

.nav-panel {
    width: 15rem;
    min-height: 40rem;
    top: 20px;
    left: 20px;
    position: absolute;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 5px;
}

#search-results {
    list-style: none;
}

code {
    border-style: none;
    padding: 0;
    font-family: Inziu Iosevka J;
}

pre > code {
    font-family: Inziu Iosevka J;
    border: solid 1px #555;
}

#content #toc {
    background-color: var(--panel-color);
    border-color: #555;
}

a {
    color: #598fe0;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background-color: var(--panel-color);
    color: var(--main-color);
    padding: 5px;
    outline: none;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
    background-color: var(--panel-color);
    color: var(--main-color);
    padding: 5px;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background-color: var(--panel-color);
    color: var(--main-color);
}

.accordion .accordion-navigation > a:hover {
    background-color: var(--hover-color);
}

ul.accordion, ul.accordion ol {
    margin-left: 0;
}

.accordion div li a:hover {
    background-color: var(--hover-color);
}